@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/roboto-v32-latin-regular.woff2") format("woff2");
}

* {
  margin: 0;
  font-family: "Roboto";
}
